.buttons{
    border: 0px solid;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    font: 300 1em 'Fira Sans', sans-serif;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    display: flex;
  }
  button{  
    border: 2px solid;
    border-color: black;
    color: var(--color);
    background-color: black;
    transition: 0.25s;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    font: 500 1em 'Fira Sans', sans-serif;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    
  }
  button:hover, button:focus{
    border-color: var(--hover);
    color: #fff;

  }
  
  .links {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
   
   }
   
.pulse:hover, 
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}
.pulse{
    --color:#ef6eae;
    --hover:#ef8f6e;
}
.image-container {
  display: block;
  text-align: center;
  width: 100%;
}

